---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About Distant Worlds">
    <div class="container">
        <h1 class="title">About Distant Worlds</h1>
        <p>This is the about page. More content will be added here soon.</p>
    </div>
</BaseLayout> 